html * {
    font-family: 'Baloo Tamma 2', cursive, Arial, Helvetica, sans-serif;
}

/*
--------------------------
    PURE ELEMENTS
-------------------------- 
 */
button {
    padding: 10px;
    font-size: 15px;
    background-color: rgb(184, 110, 184);
    border: 1px solid black;
    color: white;
    outline: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(143, 86, 143);
}


/*
--------------------------
    GENERAL
-------------------------- 
 */
.modal {
    display: none;
    position: absolute;
    background-color: rgba(41, 41, 41, .7);
    width: 806px; 
    height: 100%;
    z-index: 999;
}

.active {
    display: block;
}
/*
--------------------------
    GAME
-------------------------- 
 */

.title {
    text-align: center;
}

#game {
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
    /* border: 1px solid black; */
    justify-content: center;
}

#game-canvas {
    border: 3px solid brown;
    top: 0;
    left: 0;
}


/*
--------------------------
    SCOREBOARD
-------------------------- 
 */

.scoreboard {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 3px;
}
.scoreboard img {
    height: 40px;
    margin-right: 5px;
}
.scoreboard span {
    margin-right: 20px;
}

/*
--------------------------
    GAME OVER SECTION
-------------------------- 
*/

.game-over {
    position: relative;
    top: 150px;
    width: 50%;
    max-width: 400px;
    min-width: 300px;
    text-align: center;
    margin: auto;
    padding-bottom: 21px;
    border:1px solid #ccc;
    border-radius: 5px;
    background-color: #20649B;
    color: rgb(235, 231, 231);
    box-sizing: border-box;
}


.leaderboard {
    list-style: none;
    margin: auto;
    padding: 10px;
    max-width: 150px;
}
.leaderboard li img {
    height: 40px;
    margin-bottom: 10px;
}
.leaderboard li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}